{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "plugin:react-hooks/recommended", "standard"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "ignorePatterns": ["/build"],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "semi": [2, "always"],
    "space-before-function-paren": ["off"],
    "no-unused-vars": ["warn", {
      "args": "all",
      "varsIgnorePattern": "^_" ,
      "argsIgnorePattern": "^_" ,
      "ignoreRestSiblings": true
      }]
  }
}
